.game-view {
	.canvas-container{
		position: absolute;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}

	.pointer-lock-overlay{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: rgba(0,0,0,0.5);
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
