@font-face {
    font-family: Font;
    src: url(../fonts/cubicfive10.ttf);
}
html, body {
	width: 100%;
	height: 100%;
    overflow: hidden;
}
body, *{
	font-family: Font;
}

/* custom scrollbar */
/* scrollbar */
.scroll-custom::-webkit-scrollbar {
	width: 12px;
}

/* track */
.scroll-custom::-webkit-scrollbar-track {
	background: hsl(176, 45%, 50%);
}

/* handle */
.scroll-custom::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.3);
}
.scroll-custom::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0,0,0,0.3);
}

/* old styles */

/*states*/
#states{
	width: 100%;
	height: 100%;
}
#states>*{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
#game{
	font-family:Monospace;
	font-size:13px;
	text-align:center;
}

#game .menus {
    position: absolute;
    width: 100%;
    height: 100%;
}
#game .menus>div {
    position: absolute;
}

#game .menus .esc{
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(0,0,0,0.5);
}
#game .menus .esc>div{
	padding-top: 10%;
}

#game .menus .invt{
	top: 10%;
	left: 20%;
	right: 20%;
	bottom: 10%;
}

#game .menus .invt .cube{
	font-size: 20px;
	cursor: pointer;
	border-radius: 10px;
	border: 2px solid transparent;
}
#game .menus .invt .cube.selected{
	border: 2px solid #5cb85c;
}
#game .menus .invt .shape{
	cursor: pointer;
	width: 64px;
	border-radius: 10px;
	border: 2px solid transparent;
}
#game .menus .invt .shape.selected{
	border: 2px solid #5cb85c;
}

#menu .menu {
	position: absolute;
	height: 100%;
	left: 10%;
	right: 10%;
	padding-top: 5%;
    transition: all .5s;
}

#menu .menu .cube{
	font-size: 17px;
}
#menu .menu .cube:hover ._3dbox{
	transform: rotateX(0deg) rotateY(0deg);
}
#menu .menu .cube .top{
	background: linear-gradient(
      	rgba(85, 153, 68, 0.6),
      	rgba(85, 153, 68, 0.6)
    ), url('../res/img/blocks/grass_top.png');
  	background-size: 100%;
}
#menu .menu .cube .bottom{
	background: url('../res/img/blocks/dirt.png');
  	background-size: 100%;
}
#menu .menu .cube .front, #menu .menu .cube .back, #menu .menu .cube .right, #menu .menu .cube .left{
	background: url('../res/img/blocks/grass_side.png');
  	background-size: 100%;
}

#menu .maps .list-group{
	margin-bottom: 0px;
}
#menu .maps .panel-body{
	overflow-y: auto;
	max-height: 70vh;
}
#menu .maps .panel-body::-webkit-scrollbar{
	display: none;
}

#menu .credits{

}

#menu #created-by{
	position: fixed;
	right: 10px;
	bottom: 10px;
}

.credits-back{
	padding-right: 50px;
	padding-left: 50px;
	position: absolute;
	top: 10px;
	left: 10px;
}
.git_fork_link{
	position: absolute;
	right: 0px;
	top: 0px;
	transition: all 0.5s;
	width: 10%;
}
.git_fork_link img{
	width: 100%;
}

/*roomEditor*/
#room-editor .side-panel{
	position: absolute;
	left: 100%;
	top: 0px;
	bottom: 0px;
	width: 20%;
	margin: 40px 0 0 0;
	transition: all 0.2s;
}
#room-editor .side-panel.out{
	right: 0px;
	left: auto;
}

/*cube*/
.cube {
 	width: 3em;
 	height: 3em;
  	text-align: center;
  	display: inline-block;
}

._3dbox {
 	display: inline-block;
 	transition: all 0.5s;
 	text-align: center;
 	position: relative;
 	width: 2em;
 	height: 2em;
 	top: .5em;
 	transform-style: preserve-3d;
 	transform: rotateX(-20deg) rotateY(45deg);
}

._3dface {
  	overflow: hidden;
  	position: absolute;
  	width: 2em;
  	height: 2em;
  	background: #FFF;
  	background-size: 100%;
  	color: #333;
}

._3dface.front {
  	transform: translate3d(0, 0, 1em);
}

._3dface.top {
 	transform: rotateX(90deg) translate3d(0, 0, 1em);
}
._3dface.bottom {
 	transform: rotateX(-90deg) translate3d(0, 0, 1em);
}
._3dface.left {
 	left: 50%;
 	margin-left: -50%;
 	transform: rotateY(-90deg) translate3d(0, 0, 1em);
}
._3dface.right {
  	left: 50%;
  	margin-left: -50%;
  	transform: rotateY(90deg) translate3d(0, 0, 1em);
}
._3dface.back {
  	transform: rotateY(180deg) translate3d(0, 0, 1em);
}

.drop-zone{
	border: 4px dashed rgb(49, 58, 68);
	text-align: center;
	padding: 15px 0px 15px 0px;
	font-weight: bold;
	margin-bottom: 15px;
	transition: all 0.2s;
}
.drop-zone.hover{
	border-color: rgb(92, 184, 92);
}
